@import url(/-99--study/Study12/css/reset.css);

#wrap {
	width: 450px;
	height: 500px;

	margin: 20px 33%;

	.tab {
		display: flex;
		align-items: center;
		justify-content: center;
		button {
			width: 150px;
			height: 30px;

			&.active {
				background: gray;
			}
		}
	}
	.menu {
		height: 500px;
		padding: 20px 40px;

		display: flex;
		justify-content: center;
		align-items: center;

		border: 1px solid black;

		font-size: 20px;
		font-weight: 700;

		.tabCnt {
			display: none;

			&.active {
				display: block;
			}
		}
	}
}
